<app-header></app-header>
    <div class="container-fluid">
        <div class="wrapper">
            <div class="main">
                <div class="container">
                    <div class="header-margin"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tim-title text-center">
                                <h2>Home</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row padding">
                        <div class="col-md-6">
                            <a class="text-decoration-none" href="/balance">
                                <div class="card card-button bg-light text-center p-5">
                                    <h3 class="card-title">Check Balance</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="text-decoration-none" href="/history">
                                <div class="card card-button bg-light text-center p-5">
                                    <h3 class="card-title">Transaction History</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a class="text-decoration-none" href="/transfer">
                                <div class="card card-button bg-light text-center p-5">
                                    <h3 class="card-title">Transfer Money</h3>
                                </div>
                            </a>
                        </div>
                        
                        <div class="col-md-6">
                            <a class="text-decoration-none" href="/fixedDeposit">
                                <div class="card card-button bg-light text-center p-5">
                                    <h3 class="card-title">Fixed Depoist</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="text-decoration-none" href="/loans">
                                <div class="card card-button bg-light text-center p-5">
                                    <h3 class="card-title">Loans</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="text-decoration-none" href="/profile">
                                <div class="card card-button bg-light text-center p-5">
                                    <h3 class="card-title">User Profile</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <app-footer></app-footer>